<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="NORTHWNDEntities" connectionString="metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FAMILIPACKHP;initial catalog=NORTHWND;integrated security=True;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="Creativa.Services.NorthwindService" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="Creativa.Services.INorthwindService" />
				<endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="RestBehavior" contract="Creativa.Services.INorthwindService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:26217/NorthwindService.svc/" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="RestBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
	</system.serviceModel>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
